.model-diagram {
  width: 100%;
  height: 100%;
  display: flex;
}

.model-diagram .line {
  fill: none;
  stroke: #979797;
  stroke-linecap: square;
}

.model-diagram .text {
  font-family: "Open Sans", "OpenSans", sans-serif;
  fill: #ffffff;
  font-size: 16px;
}

.model-diagram .component__diagram {
  transition: opacity 0.25s;
  opacity: 0.75;
}

.model-diagram .component {
  pointer-events: all;
  cursor: pointer;
}
.model-diagram .selected-state {
  fill: #ffffff;
  transition: opacity 0.25s;
  opacity: 0;
}

.model-diagram .component:hover .selected-state {
  opacity: 0.5;
}

.model-diagram .component:hover .component__diagram {
  opacity: 0.85;
}

.model-diagram .component[data-selected] .selected-state {
  opacity: 1;
}

.model-diagram .component[data-selected] .component__diagram {
  opacity: 0.95;
}
