.watcher rux-table-header-cell {
  text-align: right;
}

.watcher rux-table-cell:nth-of-type(1),
.watcher rux-table-header-cell:nth-of-type(1) {
  width: 22px;
}

.watcher rux-table-cell:nth-of-type(2),
.watcher rux-table-header-cell:nth-of-type(2) {
  max-width: 0;
  text-align: left;
}
.watcher rux-table-cell:nth-of-type(3),
.watcher rux-table-header-cell:nth-of-type(3) {
  max-width: 0;
}
.watcher rux-table-cell:nth-of-type(4),
.watcher rux-table-header-cell:nth-of-type(4) {
  max-width: 0;
}

.watcher rux-table-cell:nth-of-type(5),
.watcher rux-table-header-cell:nth-of-type(5) {
  max-width: 0;
}

.watcher rux-table-cell:nth-of-type(6),
.watcher rux-table-header-cell:nth-of-type(6) {
  width: 32px;
}

.watcher rux-table-cell {
  text-align: right;
}

.watcher rux-icon[icon="arrow-upward"],
.watcher rux-icon[icon="arrow-downward"] {
  color: var(--color-text-primary);
  margin-bottom: 5px;
}

.watcher rux-icon[icon="arrow-upward"] {
  transform: rotate(45deg);
}

.watcher rux-icon[icon="arrow-downward"] {
  transform: rotate(-45deg);
}

/* MNEMONIC POP-UP STYLES */

rux-pop-up.mnemonic-pop-up span[slot="trigger"] {
  color: var(--color-text-interactive-default);
  display: inline-block;
}

rux-pop-up.mnemonic-pop-up span[slot="trigger"]:hover {
  box-shadow: inset 0 -1px 0 0 var(--color-text-interactive-default);
}

rux-pop-up.mnemonic-pop-up rux-card::part(container) {
  border-width: 0px;
  box-shadow: none;
}

rux-pop-up.mnemonic-pop-up rux-card::part(body) {
  display: flex;
  flex-direction: column;
}

rux-pop-up.mnemonic-pop-up rux-card div {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-8);
}

rux-pop-up.mnemonic-pop-up rux-checkbox::part(label) {
  font-weight: var(--font-weights-bold);
}
