.command-background[data-active="true"] {
  height: calc(100% - var(--spacing-24));
  padding: var(--spacing-3);
  background-color: var(--color-background-base-default);
  color: var(--color-text-primary);
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: calc(30% - 4px) calc(45% - 4px) calc(25%);
  grid-template-rows: calc(32% - 8px) calc(28.25% - 8px) calc(40%);
  grid-template-areas:
    "alerts pass-plan link-status"
    "alerts pass-plan subsystems"
    "alerts pass-plan watcher";
}

.command-background[data-active="false"] {
  display: none;
}
