.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pass-plan rux-select {
  display: flex;
}

.pass-plan rux-select::part(select) {
  flex-direction: row;
  width: 8rem;
}

.pass-plan rux-select::part(label) {
  margin-right: var(--spacing-3);
  margin-top: .5rem;
}

.rux-tree-content {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
  margin-top: var(--spacing-1);
}

.rux-tree-content div:nth-of-type(1) {
  margin-right: 2rem;
  width: 2rem;
}

.rux-tree-content div:nth-of-type(2) {
  margin-right: var(--spacing-3);
}

li {
  list-style-type: none;
}

.rux-tree-header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: var(--spacing-8);
  padding-inline: var(--spacing-2);
  font-size: var(--spacing-4);
  align-items: center;
  box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 40%);
}

.rux-tree-header span:nth-of-type(1) {
  margin-right: 5.6rem;
}

.tree-wrapper .arrow::part(indicator) {
  align-items: center;
  background-color: red;
}

.banner {
height: var(--spacing-6);
width: 100%;
background-color: var(--color-background-surface-selected);
text-align: center;
}