.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

rux-container.pass-plan::part(body) {
  overflow-x: hidden;
  background: var(--color-background-surface-default);
}

.pass-plan rux-select.header-select {
  display: flex;
}

.pass-plan rux-select.header-select::part(select) {
  flex-direction: row;
  width: 8rem;
}

.pass-plan rux-select.header-select::part(label) {
  margin-right: var(--spacing-3);
  margin-top: 0.5rem;
}

rux-tree-node::part(node) {
  display: flex;
  align-items: center;
  /* This is to account for the width of the caret on the left side of the node so the padding looks even.  */
  padding-inline-end: var(--spacing-3);
}

.rux-tree-node_prefix {
  margin-inline: var(--spacing-6) var(--spacing-8);
  width: var(--spacing-3);
}

.rux-tree-node_content {
  display: flex;
  align-items: center;
}

.rux-tree-node_content > rux-checkbox {
  margin-inline-end: var(--spacing-6);
}

rux-progress {
  width: 16rem;
}

rux-progress::part(progress) {
  height: var(--spacing-3);
}

.rux-tree-content div rux-progress::part(output) {
  visibility: hidden;
}

li {
  list-style-type: none;
}

.rux-tree-header {
  display: flex;
  flex-flow: row nowrap;
  height: var(--spacing-8);
  padding-left: var(--spacing-12);
  font-size: var(--spacing-4);
  align-items: center;
  box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 40%);
}

.rux-tree-header span:nth-of-type(1) {
  margin-right: 4.5rem;
}

.tree-wrapper .arrow::part(indicator) {
  align-items: center;
}

.banner {
  height: var(--spacing-6);
  width: 100%;
  background-color: var(--color-background-surface-selected);
  text-align: center;
}

.banner.Pass {
  background-color: var(--color-background-interactive-muted);
}

.pass-plan div[slot="footer"] {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1rem;
}

.pass-plan rux-input {
  width: 100%;
  margin-right: var(--spacing-2);
}

.pass-plan rux-input::part(error-text) {
  margin-block-end: -1.75rem;
}
