.pre-pass-list-table rux-table-cell {
    padding: var(--spacing-2);
}

.pre-pass-list-table rux-table-cell:first-of-type > div:first-of-type {
    display: flex;
    justify-content: center;
}

.pass_mnemonic-wrapper {
    display: flex;
    align-items: center;
}

.pass_mnemonic-wrapper rux-checkbox {
    padding-inline-end: var(--spacing-3);
}

.pass_mnemonic-watching {
    display: flex;
    align-items: center;
    margin-inline-start: auto;
}

.pass_mnemonic-watching rux-icon {
    padding-inline: var(--spacing-1);
    color: var(--color-text-primary);
}